language: php

php:
  - 7.0
  - 7.1
  - 7.2
  - 7.3
  - 7.4

notifications:
  email: false
  irc: "irc.efnet.org#php.yaf"

env:
  - REPORT_EXIT_STATUS=1 NO_INTERACTION=1

#Compile
before_script:
    - sudo apt-get install -y valgrind
    - ./travis/compile.sh

# Run PHPs run-tests.php
script:
    - TEST_PHP_ARGS="-m --show-diff" make test TESTS=tests/007.phpt
    - find tests -name "*.mem" | xargs -n1 cat
